[submodule "essentials-framework/pepperdashcore-builds"]
	path = essentials-framework/pepperdashcore-builds
	url = https://ndorin@bitbucket.org/Pepperdash_Products/pepperdashcore-builds.git
	branch = development
