<ProgramInfo>
  <RequiredInfo>
    <FriendlyName>SSMonoProTaskLibrary</FriendlyName>
    <SystemName>SSMonoProTaskLibrary</SystemName>
    <EntryPoint>SSMonoProTaskLibrary</EntryPoint>
    <MinFirmwareVersion>1.009.0029</MinFirmwareVersion>
    <ProgramTool>SIMPL# Plugin</ProgramTool>
    <DesignToolId>5</DesignToolId>
    <ProgramToolId>5</ProgramToolId>
    <ArchiveName />
  </RequiredInfo>
  <OptionalInfo>
    <CompiledOn>4/6/2016 7:55:41 AM</CompiledOn>
    <CompilerRev>1.0.0.14269</CompilerRev>
  </OptionalInfo>
</ProgramInfo>