<ProgramInfo>
  <RequiredInfo>
    <FriendlyName>SSMonoIOLibrary</FriendlyName>
    <SystemName>SSMonoIOLibrary</SystemName>
    <EntryPoint>SSMonoIOLibrary</EntryPoint>
    <MinFirmwareVersion>1.007.0017</MinFirmwareVersion>
    <ProgramTool>SIMPL# Plugin</ProgramTool>
    <DesignToolId>5</DesignToolId>
    <ProgramToolId>5</ProgramToolId>
    <ArchiveName />
  </RequiredInfo>
  <OptionalInfo>
    <CompiledOn>4/6/2016 7:49:24 AM</CompiledOn>
    <CompilerRev>1.0.0.14081</CompilerRev>
  </OptionalInfo>
</ProgramInfo>