<ProgramInfo>
  <RequiredInfo>
    <FriendlyName>PepperDashEssentials</FriendlyName>
    <SystemName>PepperDashEssentialsBase</SystemName>
    <EntryPoint>PepperDashEssentialsBase</EntryPoint>
    <MinFirmwareVersion>1.009.0029</MinFirmwareVersion>
    <ProgramTool>SIMPL# Plugin</ProgramTool>
    <DesignToolId>5</DesignToolId>
    <ProgramToolId>5</ProgramToolId>
    <ArchiveName />
  </RequiredInfo>
  <OptionalInfo>
    <CompiledOn>1/8/2016 3:03:22 PM</CompiledOn>
    <CompilerRev>1.0.0.27100</CompilerRev>
  </OptionalInfo>
</ProgramInfo>