<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="SimplSharpPro" publicKeyToken="1099C178B3B54C3B" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.1" newVersion="1.5.2.1"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
